[Desktop Entry]
Version=1.0
Name=Concordia Cash Core
Comment=Concordia Cash P2P Cryptocurrency
Comment[fr]=Concordia Cash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Concordia Cash, eşten eşe kriptografik sanal para birimi
Exec=concordia-qt %u
Terminal=false
Type=Application
Icon=concordia128
MimeType=x-scheme-handler/concordia;
Categories=Office;Finance;
StartupWMClass=Concordia-qt
