
## <summary>policy for concordia</summary>


########################################
## <summary>
##	Transition to concordia.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`concordia_domtrans',`
	gen_require(`
		type concordia_t, concordia_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, concordia_exec_t, concordia_t)
')


########################################
## <summary>
##	Execute concordia server in the concordia domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`concordia_initrc_domtrans',`
	gen_require(`
		type concordia_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, concordia_initrc_exec_t)
')


########################################
## <summary>
##	Search concordia lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`concordia_search_lib',`
	gen_require(`
		type concordia_var_lib_t;
	')

	allow $1 concordia_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read concordia lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`concordia_read_lib_files',`
	gen_require(`
		type concordia_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, concordia_var_lib_t, concordia_var_lib_t)
')

########################################
## <summary>
##	Manage concordia lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`concordia_manage_lib_files',`
	gen_require(`
		type concordia_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, concordia_var_lib_t, concordia_var_lib_t)
')

########################################
## <summary>
##	Manage concordia lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`concordia_manage_lib_dirs',`
	gen_require(`
		type concordia_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, concordia_var_lib_t, concordia_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a concordia environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`concordia_admin',`
	gen_require(`
		type concordia_t;
		type concordia_initrc_exec_t;
		type concordia_var_lib_t;
	')

	allow $1 concordia_t:process { ptrace signal_perms };
	ps_process_pattern($1, concordia_t)

	concordia_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 concordia_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, concordia_var_lib_t)

')

